input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: black;
    cursor: pointer;
  }
  
  input[type="date"]::-webkit-calendar-picker-indicator:hover {
    background-color: black;
  }